#hd-principal
{
    position: relative;
}

.hd-container 
{
    background: url("../imgs/bg-header.jpg") no-repeat center top;
    padding-top: 130px;
    padding-bottom: 130px;

    @include breakpoint($allCelular)
    {   
        padding-top: 100px;
        padding-bottom: 100px;
    }   

    #hd-logo 
    {
        margin: 0 0 55px;
        padding: 0;

        a 
        {
            display: inline-block;
            text-align: center;
        }

        img 
        {
            max-width: 100%;
            margin: 0 auto;
        }

    }

    h3 
    {
        font-weight: $fontWeightMedium;
        font-size: $fontSizeBase * 2.4;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        max-width: 480px;

        @include breakpoint($allCelular)
        {   
            font-size: $fontSizeBase * 2;
        }

    }

}